{% extends 'base.html.twig' %}

{% block body %}

        <h1>Usuarios</h1>
        <div class="col-sm-10"></div>
        <button class="btn btn-dark col-sm-2" onClick="window.location = '/usuario/nuevo'">
                Nuevo usuario
           </button>
        <br>
        <br>
        <br>
        <br>
        <table class="table table-striped">
                <thead class="thead-dark">
                        <tr>
                                <th scope="col" class="text-center">Nombre de usuario</th>
                                <th scope="col" class="text-center">Nombre y Apellidos</th>
                                <th scope="col" class="text-center">Número de teléfono</th>
                                <th scope="col" class="text-center">Correo electrónico</th>
                                <th scope="col" class="text-center">Sueldo por hora</th>
                                <th scope="col" class="text-center">Acciones</th>
                        </tr>
                </thead>
                <tbody>
                {% for usuario in usuarios %}
                <tr class="text-center">
                        <td>{{ usuario. getUsername() }}</td>                       
                        <td>{{ usuario.getNombreCompleto() }}</td> 
                        <td>{{ usuario.getNumeroTelefono() }}</td>  
                        <td>{{ usuario.getCorreoElectronico() }}</td>
                        <td>{{ usuario.getSueldoPorHora() }}</td> 
                        <td>
                        <button type="button" class="btn btn-dark" onClick="window.location = '/usuario/editar/{{usuario.getId()}}'"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button type="button" class="btn btn-dark" onClick="window.location = '/usuario/borrar/{{usuario.getId()}}'"><span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                </tr>
                {% endfor %}       
        </tbody>
        </table>   


{% endblock %}
