{% extends 'base.html.twig' %}


{% block title %}{{ titulo }}{% endblock %}

{% block body %}


<h2>{{ titulo }}</h2>
<br>
<br>
<br>
<br>
<div class="form-horizontal">
{{ form_start(form) }}
{{ form_errors(form.nombre_completo)}}
{{ form_errors(form.correo_electronico)}}
{{ form_errors(form.numero_telefono)}}
{{ form_errors(form.username)}}
{{ form_errors(form.sueldo_por_hora)}}
{{ form_errors(form.plainPassword.first)}}
    <div class="form-group">
        <div class="control-label col-sm-2">{{ form_label(form.nombre_completo,'Nombre y Apellidos') }}</div>
        <div class="col-sm-10">
            {{ form_widget(form.nombre_completo, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-sm-2">{{ form_label(form.correo_electronico,'Correo electrónico') }}</div>
        <div class="col-sm-10">
            {{ form_widget(form.correo_electronico, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-sm-2">{{ form_label(form.numero_telefono,'Número de teléfono') }}</div>
        <div class="col-sm-10">
            {{ form_widget(form.numero_telefono, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-sm-2">{{ form_label(form.username,'Nombre de usuario') }}</div>
        <div class="col-sm-10">
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-sm-2">{{ form_label(form.sueldo_por_hora,'Sueldo por hora') }}</div>
        <div class="col-sm-10">
            {{ form_widget(form.sueldo_por_hora, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    

    <div class="form-group">
        <div class="control-label col-sm-2">{{ form_label(form.plainPassword.first,'Contraseña') }}</div>
        <div class="col-sm-10">
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-sm-2">{{ form_label(form.plainPassword.second,'Repetir Contraseña') }}</div>
        <div class="col-sm-10">
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-sm-2">{{ form_label(form.is_admin,'Administrador') }}</div>
        <div class="col-sm-10">
            {{ form_widget(form.is_admin) }}
        </div>
    </div>

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-dark">Enviar</button>
      </div>
    </div>
    
{{ form_end(form) }}
</div>

{% endblock %}