{% extends 'base.html.twig' %}

{% block body %}

{% block stylesheets %}
{{ parent() }}

    <link href="{{ asset('components/fullcalendar/dist/fullcalendar.css') }}" rel="stylesheet" />

{% endblock %}


    <h1>Mis turnos</h1>
    <div>
      <button type="button" class="btn btn-default"><a href="/turno/nuevo">Añadir turno</a></button>
    </div>
    
    <div class="col-sm-2"></div>
    <div class="col-sm-8" id='calendar'></div>
    <div class="col-sm-2"></div>
    

    

{% endblock %}

{% block javascripts %}
{{ parent() }}


<script src="{{ asset('components/moment/moment.js') }}"></script>
<script src="{{ asset('components/fullcalendar/dist/fullcalendar.js') }}"></script>

<script src="{{ asset('js/fullcalendar-functions.js') }}"></script>
{% endblock %}