{% extends 'base.html.twig' %}

{% block body %}

   

        
                <h2>Turno de {{turno.getIdUsuario().getNombreCompleto()}}</h2>   
                <br>
                <br>

                {% if is_granted('ROLE_ADMIN') %}
                
                <div class="col-sm-12" style="display: flex; justify-content: flex-end">
                <button style="margin-right: 4px" type="button" class="btn btn-dark" onClick="window.location = '/turno/editar/{{turno.getId()}}'"><span class="glyphicon glyphicon-pencil"></span></span></button>
                <button type="button" class="btn btn-dark" onClick="window.location = '/turno/borrar/{{turno.getId()}}'"><span class="glyphicon glyphicon-trash"></span></button>
                </div>  
                <br>
                <br>
                <br>
                <br>
                {% endif %}

                <div class="col-sm-4"></div>
                <div class="col-sm-4 rounded-box">
                        <div class="col-sm-6 text-center"><strong>Tienda:</strong></div>
                        <div class="col-sm-6 text-center">{{turno.getIdTienda().getNombreTienda()}}  </div> 

                        <div class="col-sm-6 text-center"><strong>Fecha:</strong></div>
                        <div class="col-sm-6 text-center">{{turno.getFechaString()}}  </div>

                        <div class="col-sm-6 text-center"><strong>Hora inicio:</strong></div>
                        <div class="col-sm-6 text-center">{{turno.getHoraInicioString()}}  </div>

                        <div class="col-sm-6 text-center"><strong>Hora fin:</strong></div>
                        <div class="col-sm-6 text-center">{{turno.getHoraFinString()}}  </div>

                        <div class="col-sm-6 text-center"><strong>Comentario:</strong></div>
                        <div class="col-sm-6 text-center">{{turno.getComentario()}}  </div>
                </div>        
                <div class="col-sm-4"></div>              
    
    

{% endblock %}

